<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/base/css/bootstrap/bootstrap.min.css">
    {% block css %}{% endblock %}
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% include ('navigation.html.twig') %}
{% block content %}{% endblock %}

</body>
{% block css_base_bottom %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="/assets/base/js/bootstrap/bootstrap.min.js" crossorigin="anonymous"></script>
{% block js %}{% endblock %}
</html>